:root {
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --main-color: #d3ad7f;
    --black: #13131a;
}


.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;


}

nav {
    margin-top: 10px;
    position: fixed;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    background-color: rgba(152, 70, 143, 0.905);

}

header .header-bg {
    display: flex;
    flex-direction: column;
    border: var(--border);
}

nav ul {
    padding: 0;
    display: flex;
    align-items: center;
    color: #fff;
}

nav ul a {
    list-style: none;
    font-size: 1.5rem;
    width: 100%;
    margin: 10px;
    color: #fff;
    text-decoration: none;
}

main .container {
    color: #fff;
    display: flex;
    gap: 10px;
    padding: 20px;
    font-size: 20px;
    border: var(--border);
    text-transform: capitalize;

}

.aside-box {
    display: flex;
    flex-direction: row-reverse;
}

aside {
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    color: #fff;
    padding: 2rem;
    height: 100vh;
    margin-right: 1.1rem;

}

aside ul li {
    font-size: 15px;
    width: 130px;
}


section .container2 {
    display: block;
    justify-content: center;
    margin: 10px;
    padding: 10rem;
}

section .container2 h2 {
    color: #fff;
    text-align: center;
}

section .container2 p {
    text-align: center;
    color: #fff;
    font-size: 20px;
}